// REGRAS DOS ELEMENTOS HTML
@use 'global'as *;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    font-size: 62.5%;

    background-color: $cor-secundaria;
    font-family: $fonts-primaria;

    color: $branco;

    a {
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background: url("../img/background.png") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: $cor-primaria;
}

footer {
    margin-top: auto;
}
