// VARIAVEIS GLOBAIS

// CORES
$cor-primaria: #80009A;
$cor-secundaria: #0B080C;
$branco: #F2F2F2;

// TAMANHO DO SITE
$tamanho-site-desktop: 100rem;


// FONTE

$fonts-primaria: 'Source Code Pro', monospace;
