// VARIAVEIS GLOBAIS

// CORES
$cor-primaria: #80009a;
$cor-secundaria: #0b080c;
$branco: #f2f2f2;

// TAMANHO DO SITE
$tamanho-site-desktop-1200: 116rem;
$tamanho-site-desktop-992: 90rem;
$tamanho-site-mobile: 70rem;
$tamanho-site-mobile-360: 30rem;

// FONTE

$fonts-primaria: "Source Code Pro", monospace;

html,
body {
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    background: url("../img/background.png") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
