{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'node_modules/github-markdown-css/github-markdown.css' %}">
{% endblock head %}

{% block title %}Cronograma - Aracomp{% endblock title %}


{% block content %}

<div class="cronograma">
    <div class="cronograma__tabela">
        <h1>Cronograma do evento:</h1>
        <table>
            <tr>
                <td class="tabela-item">Horário</td>
                <td>31/05</td>
                <td>01/06</td>
                <td>02/06</td>
            </tr>
            <tr>
                <td class="tabela-item">14h - 15h</td>
                <td>Abertura (14h30)</td>
                <td>Apresentação de trabalhos</td>
                <td>Mais Três Projetos da UFAL</td>
            </tr>
            <tr>
                <td class="tabela-item">15h - 16h</td>
                <td>Mesa redonda: empreender ou trabalhar em empresas de terceiros?</td>
                <td>Mesa redonda: Desenvolvimento mobile: nativo vs cross-platfor</td>
                <td>Mesa redonda: soft skills em tecnologia com Rodrigo Apolinário</td>
            </tr>
            <tr>
                <td class="tabela-item">16h - 17h</td>
                <td>Palestra Criptomoedas e Smart Contracts</td>
                <td>Bate Papo com Rodrigo Branas</td>
                <td>Criando design de interfaces e gerando código automático com AdobeXD e o plugin Fireblade</td>
            </tr>
            <tr>
                <td class="tabela-item">17h - 18h</td>
                <td>CICA</td>
                <td>Palestra: Conhecendo tecnologias locais: Polarsoft</td>
                <td>PedeAiVai</td>
            </tr>
            <tr>
                <td class="tabela-item">18h - 19h</td>
                <td>Intervalo</td>
                <td>Intervalo</td>
                <td>Intervalo</td>
            </tr>
            <tr>
                <td class="tabela-item">19h</td>
                <td>Hackatton</td>
                <td>Maratona</td>
                <td>------</td>
            </tr>
            <tr>
                <td class="tabela-item">19h30 - 20h</td>
                <td>Springboot / NestJS</td>
                <td>Maratona / Data Science</td>
                <td>Apresentação do Hackathon</td>
            </tr>
            <tr>
                <td class="tabela-item">20h - 21h</td>
                <td>Springboot / NestJS</td>
                <td>Maratona / Data Science</td>
                <td>Apresentação do Hackathon</td>
            </tr>
            <tr>
                <td class="tabela-item">21h - 22h</td>
                <td>Springboot / NestJS</td>
                <td>Maratona / Data Science</td>
                <td>Encerramento / Premiações</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}


{% block footer %}
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/showdown/dist/showdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/posts.js' %}" type="text/javascript"></script>
{% endblock footer %}