{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <main class="enigmas">
        <div class="enigmas_conteudo">
            <div class="enigmas_messages">
                {% if messages %}
                <ul class="enigmas_messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}

                {% if vencedor %}
                <h3>A caça ao <b>tesouro</b> já acabou. O vencedor foi <b>{{ vencedor.nome }}</b>.</h3>
                <p>Mas você pode continuar tentando terminá-la<b class="piscar">_</b></p>
                {% endif %}
            </div>

            <div class="enigmas_container">
                {% block content %}
                {% endblock content %}
            </div>

            <a href="{% url 'enigmas-reset' %}">Voltar ao primeiro enigma (reiniciar progresso)</a>
        </div>
        <div class="enigmas_respostas">
                <div class="enigmas_respostas--lista">
                    <ol>
                        {% block progress %}
                        {% endblock progress %}
                    </ol>
                </div>
        </div>
    </main>
</body>

</html>