{% extends 'base_enigma.html' %}
{% load static %}

{% block title %}WWW{% endblock title %}


{% block content %}
<h1>match</h1>
<img src="{% static 'assets/img/enigma5.png' %}" alt="match">
<form method="POST">
    {% csrf_token %}
    {{ form.resposta }}
    {% for error in form.resposta.errors %}
    <div class="form-error">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    <input type="submit" class="enviar-btn" value="Enviar Resposta">
</form>
{% endblock content %}

{% block progress %}
{% for resposta in respostas %}
<li>{{ resposta.resposta }}</li>
{% endfor %}
<li>????</li>
{% endblock progress %}