{% extends 'base_enigma.html' %}
{% load static %}

{% block title %}E|B|G?{% endblock title %}


{% block content %}
<h1>Enigma M3</h1>
<img src="{% static 'assets/img/logo-aracomp.png' %}" alt="Enigma M3">
<form method="POST">
    {% csrf_token %}
    {{ form.resposta }}
    {% for error in form.resposta.errors %}
    <div class="form-error">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    <input type="submit" class="enviar-btn" value="Enviar Resposta">
</form>
{% endblock content %}

{% block progress %}
{% for resposta in respostas %}
<li>{{ resposta.resposta }}</li>
{% endfor %}
<li>????</li>
<li>????</li>
{% endblock progress %}